/* line 2 */
#nav {
  background-color: white;
}
/* line 8 */
#nav .navbar-brand .brand-cy {
  color: #ffa500;
}
/* line 11 */
#nav .navbar-brand .brand-sport {
  color: black;
}
/* line 17 */
#nav .navbar-nav a {
  color: black;
}

/* line 23 */
#footer {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
