{% extends "base.html" %}

{% block head %}
  {% assets "css_a_line" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"> 
  {% endassets %}
{% endblock %}

{% block content %}



  <!-- A-Line -->
  <div id="a-line">

    <!-- Header -->
    <header> 
      <div class="container">
        <h1>A-Line</h1>
      </div>
    </header>

    <!-- Product - Begin -->
    <div class="product-large">
      <div class="container">
        <div class="row">

          <!-- Pic -->
          <div class="col-lg-6 pic">
            <img src="http://placehold.it/600x300&text=Product">
          </div>

          <!-- Detail -->
          <div class="col-lg-6 details">
            <h2>TUTU Product</h2>
            <p>shooboo, shooboo, shooboo, shooboo, shooboo, shooboo, shooboo, shooboo, shooboo, shooboo</p>
            <div class="row">
              <div class="col-lg-3 field">SIZE</div>
              <div class="col-lg-3 field">WIDTH</div>
              <div class="col-lg-3 field">MADE</div>
              <div class="col-lg-3 field">...</div>
            </div>
            <div class="row">
              <div class="col-lg-3 field">F</div>
              <div class="col-lg-3 field">105cm</div>
              <div class="col-lg-3 field">Taiwan</div>
              <div class="col-lg-3 field">:!</div>
            </div>
          </div>

        </div>
    </div>
  </div>
  <!-- Product - End -->

  <!-- Products - Begin -->
  <div class="products">
    <div class="container">
      <div class="row">
        {% for i in range(8) %}
        <div class="col-lg-3 product-small">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/600x300&text=Product">
            <h3>TUTU Product</h3>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Products - End -->
  


{% endblock %}

