<!doctype html>
<html>
  <head>
    <title>CY-Sport</title>

    <!-- Scripts -->
    {% assets "js_common" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!-- CSS -->
    {% assets "css_common" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"> 
    {% endassets %}

    {% assets "css_base" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"> 
    {% endassets %}

    {% block head %}{% endblock %}

  </head>

  <body>
    <!-- Nav bar - Begin -->
    <nav id="nav" class="navbar navbar-fixed-top" role="navigation">
      <div class="container">

        <!-- Header -->
        <div class="navar-header">
          <a class="navbar-brand" href="/">
            <span class="brand-cy">CY</span><!--
            --><span class="brand-sport">SPORT</span>
          </a>
        </div>

        <!-- Links -->
        <ul class="nav navbar-nav pull-right">
          <li><a href="/">HOME</a></li>
          <li><a href="#">A-LINE</a></li>
          <li><a href="#">B-LINE</a></li>
          <li><a href="#">C-LINE</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>

      </div>
      
    </nav>

    <br/>
    <br/>
    <br/>

    <!-- Nav bar - End -->

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer id="footer" style="background-color: black;">
      <div class="container" style="color: white;">
        <p>copyright c all rights reserved</p>
      </div>
    </footer>

  </body>

</html>
