{% extends "base.html" %}

{% block head %}
  {% assets "css_index" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"> 
  {% endassets %}
{% endblock %}

{% block content %}

  <!-- Welcome -->
  <div id="welcome">
    <div class="container">
			<div class="col-lg-8">
				<h1>It all starts with turtles.</h1>
				<p>
					We deliver the highest user experience for you and clients.
					Out creative design and development solutions are second to none.
				</p>
			</div>
			<div class="col-lg-4 pic">
				<div class="thumbnail">
					<img src="http://placehold.it/300x300&text=TURTLE">
				</div>
			</div>
			
    </div>
  </div>
	

  <!-- New Products -->
  <div id="new-products">

    <div class="container">

      <!-- Header -->
      <div class="header">Whats's New</div>

      <!-- Products -->
      <div class="row">

        {% for product in products %}
        <div class="col-lg-4">
          <a href="#" class="thumbnail product">
						<img src="{{ product.pic }}">
            <!--
            <div class="pull-left">5/27</div>
            <div class="pull-left">More</div>
            <div class="clearfix"></div>
            -->
          </a>
        </div>
        {% endfor %}


      </div>
    </div>
  </div>

{% endblock %}
